{
  // We need to have this copy of babelrc here because Rollup is silly
  "presets": [
    [
      "./assets/node_modules/babel-preset-env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions", "last 2 Edge versions", "last 2 Safari versions", "last 2 Firefox versions", "last 2 and_chr versions", "last 2 and_ff versions", "last 2 ios_saf versions"]
        },
        "useBuiltIns": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["./assets/node_modules/babel-plugin-external-helpers"]
}
