div.loading-indicator {
  $indicator-width: 640px;
  $indicator-height: 480px;

  display: grid;
  grid-template: 'loading  '
                 'copy     '
                 'indicator' #{$indicator-height}
           #{'/'} auto;
  align-items: center;
  grid-gap: 10px;

  .canvas-wrapper {
    grid-area: indicator;
    max-height: $indicator-height;
    overflow-y: hidden;

    canvas#loading-profile {
      display: block;
      width: 100%;
      max-width: $indicator-width;

      margin: 0 auto;
    }
  }

  .loading-text {
    grid-area: loading;
    text-align: center;
  }

  .loading-author {
    grid-area: copy;
    text-align: center;
  }
}
