div.loading-indicator {
  $indicator-width: 640px;
  $indicator-height: 480px;

  display: grid;
  grid-template: 'loading   copy      '
                 'indicator indicator ' #{$indicator-height}
           #{'/'} 1fr       1fr;
  align-items: center;
  grid-gap: 20px;

  .canvas-wrapper {
    grid-area: indicator;
    max-height: $indicator-height;
    overflow-y: hidden;

    canvas#loading-profile {
      display: block;
      width: 100%;
      max-width: $indicator-width;

      margin: 0 auto;
    }
  }

  .loading-text {
    grid-area: loading;
    text-align: right;
  }

  .loading-author {
    grid-area: copy;
    text-align: left;
  }
}
