div#export-data-processing {
  margin-top: 20px;
}

#preferences-stripe {
  display: grid;

  margin-bottom: 40px;

  grid-row-gap: 20px;
  grid-template: 'title'
                 'tabs'
                 'prefs';
  
  @media #{$sm} {
    grid-template: 'title title'
                   'tabs prefs'
                  / 1fr 3fr;
    grid-column-gap: 40px;
  }

  h1 {
    grid-area: title;
  }

  #tab-container {
    grid-area: tabs;
  }

  #preferences-container {
    grid-area: prefs;

    h2 {
      margin-top: 0;
    }
  }
}
