<div class="stripe stripe-accent stripe-just-heading">
  <h2>Forbidden</h2>
</div>

<div class="stripe stripe-content-padded">
  <p>
    Either you are not logged in or you tried doing something you're not allowed to do.
  </p>
</div>
