{
  "__comment": "Note that the paths below are relative to the CWD when executing babel, that is the project root.",
  "presets": [
    "./assets/node_modules/babel-preset-es2015",
    "./assets/node_modules/babel-preset-es2016",
    "./assets/node_modules/babel-preset-es2017"
  ],
  "ignore": "node_modules"
}
