// Common styles for all graphs / charts

.main-info-graphs {
  section {
    button {
      background-color: $background-color;
      padding: 0;
      color: $base-text;
      margin-left: 5px;
      line-height: 0;
    }

    button svg {
      width: 32px;
      height: 32px;
    }
  }
}
