.hour-xps {
  grid-area: hour-x;

  h4 {
    text-align: center;
  }

  .graph-container {
    position: relative;
  }

  .mode-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 10px;
  }
}
