.top-languages {
  grid-area: top-l;

  >div {
    display: grid;

    grid-column-gap: 10px;
    grid-template-columns: 1fr;

    @media #{$md} {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.other-languages {
  grid-area: other-l;
}
